<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartpensionspringboot.lbb.dao.PaymentDao">
    <resultMap id="PaymentMap" type="com.example.smartpensionspringboot.lbb.pojos.Payment">
        <id column="id" property="id"/>
        <result property="old_id" column="old_id"/>
        <result property="payer" column="payer"/>
        <result property="amount" column="amount"/>
        <result property="amount_time" column="amount_time"/>
        <result property="registrant" column="registrant"/>
        <result property="style" column="style"/>
        <result property="state" column="state"/>
        <result property="remark" column="remark"/>
        <result property="insert_time" column="insert_time"/>
        <result property="update_time" column="update_time"/>
        <result property="delete_time" column="delete_time"/>
        <association property="old" javaType="com.example.smartpensionspringboot.lbb.pojos.Old">
            <id property="old_id" column="old_id"/>
            <result property="old_name" column="old_name"/>
            <result property="identitycard" column="identitycard"/>
            <result property="gender" column="gender"/>
            <result property="phone" column="phone"/>
        </association>
    </resultMap>
    <select id="getPayment" resultMap="PaymentMap">
        SELECT ro.old_name,cp.amount,cp.amount_time,cp.payer,cp.style,cp.state,cp.registrant,cp.remark
        FROM cost_payment cp
        LEFT JOIN rec_old ro ON cp.old_id = ro.old_id
    </select>
</mapper>